<h2 class="underline">edit your profile</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :username,
                    label: "change your username:",
                    input_html: { autocomplete: "change your username", class: 'login-input' },
                    label_html: { class: 'login-text' } %>
    <p>current profile picture</p>
    <% if current_user.prof_pic.present? %>
      <%= image_tag(@user.prof_pic, class: "prof-pic") unless @user.prof_pic.nil? %>
    <% else %>
      <%= image_tag('avatar.png', class:'prof-pic') %>
    <% end %>

    <%= f.input :image, as: :file,
                    label: "change your profile pic:",
                    label_html: { class: 'login-text ' },
                    input_html: { class: '' },
                    id: "file-upload-button" %>
    <%= f.input :current_password,
                hint: "your current password to confirm your changes", class:'hint-text',
                required: true,
                input_html: { autocomplete: "current-password" , class: 'login-input' },
                label_html: { class: 'login-text' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "make these changes", class: "post-btn" %>
  </div>
<% end %>



<div class="d-flex align-items-center">
  <%= button_to "delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "go-btn" %>
</div>

<%= link_to "back", :back %>
