<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <h3>change password</h3>
  <%= f.error_notification %>
  <div class="form-inputs">
  <%= f.input :password,
              hint: "new password",
              required: false,
              input_html: { autocomplete: "new-password", class: 'login-input' },
              label_html: { class: 'login-text' } %>
  <%= f.input :password_confirmation,
              required: false,
              input_html: { autocomplete: "new-password" , class: 'login-input' },
              label_html: { class: 'login-text' } %>
  <%= f.input :current_password,
                hint: "your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" , class: 'login-input' },
                label_html: { class: 'login-text' } %>
