
<div class="home-container">
  <div class="home-btn-1  flex-1">
    <button class="login" data-controller="navbar">
     <%= link_to "log in", "/users/sign_in", class: "nav-link" %>
    </button>
    <button class="welcome-btn" data-controller="navbar">
     <%= link_to "welcome!", "/", class: "nav-link" %>
    </button>
  </div>

  <div class="flex-13 sign-in-container pt-20">
    <div class="snacky-title mb-20">
      <h1 class="snacky ">Snacky</h1>
      <h2 class="sign-in-text ">sign up</h2>
    </div>
    <%= simple_form_for(@user, as: :user, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="first-last-name">
          <%= f.input :first_name,
                      label: "first name",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "first_name", class: 'login-input-name mt-0' },
                      label_html: { class: 'label-text' } %>
          <%= f.input :last_name,
                      label: "last name",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "last_name", class: 'login-input-name mt-0' },
                      label_html: { class: 'label-text' } %>
        </div>
        <%= f.input :username,
                    label: "username",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "username", class: 'login-input mt-0' },
                    label_html: { class: 'label-text' } %>
        <%= f.input :prof_pic, as: :file,
                    required: true,
                    label: "upload a profile pic:",
                    label_html: { class: 'form-text label-text ' },
                    input_html: { class: 'title-input upload' },
                    id: "file-upload-button" %>
        <%= f.input :email,
                    label: "email",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: 'login-input mt-0' },
                    label_html: { class: 'label-text' } %>
        <%= f.input :password,
                    label: "password",
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password", class: 'login-input mt-0' },
                    label_html: { class: 'label-text' },
                    hint_html: { class: 'hint-2' } %>
        <%= f.input :password_confirmation,
                    label: "confirm your password",
                    required: true,
                    input_html: { autocomplete: "new-password", class: 'login-input mt-0' },
                    label_html: { class: 'label-text' } %>
      </div>

      <div class="form-submit-btn">
        <%= f.button :submit, "sign up" , class:'post-btn' %>
      </div>
    <% end %>
      </div>

  <div class="home-btn-2 faq-signup flex-1">
    <button class="signup" data-controller="navbar">
      <%= link_to "sign up", "/users/sign_up", class: "nav-link" %>
    </button>
    <button class="faq" data-controller="navbar">
      <%= link_to "FAQ", "/faq", class: "nav-link" %>
    </button>
  </div>
</div>



<%= render "devise/shared/links" %>
