
<div class="home-container">
  <div class="home-btn-1  flex-1">
    <button class="login" data-controller="navbar">
     <%= link_to "log in", "/users/sign_in", class: "nav-link" %>
    </button>
    <button class="welcome-btn" data-controller="navbar">
     <%= link_to "welcome!", "/", class: "nav-link" %>
    </button>
  </div>

  <div class="flex-13 sign-in-container pt-20">
    <div class="sign-up-snacky-title">
      <h1 class="snacky ">Snacky</h1>
      <h2 class="sign-in-text ">sign up</h2>
    </div>
    <div class="sign-up-form" >
      <%= simple_form_for(@user_pic,
                          url: intake_user_pics_path,
                          data: {
                            turbo: :false,
                            controller: "pic-preview"
                          },
                          html: { class: "name-form"}
                          ) do |f| %>
        <div class="preview-prof">
          <img id="preview" class="prof-pic" width="100" height="100" data-pic-preview-target="preview"/>
        </div>
        <%= f.error_notification %>
        <div class="form-inputs-signup-pic">
          <%= f.input :prof_pic, as: :file,
                      required: true,
                      label: "upload a profile pic 🤩 (or do it later)",
                      label_html: { class: 'form-text label-text ' },
                      input_html: { value: @prof_pic,
                                    class: 'title-input upload',
                                    "data-action": "change->pic-preview#display"},
                      id: "file-upload-button"
                      %>
          <%= f.input :username,
                      label: "username",
                      placeholder: '@snacky99', class: 'label-text',
                      required: true,
                      autofocus: true,
                      input_html: { value: @username, class: 'login-input' },
                      label_html: { class: 'label-text' } %>
        </div>
        <div class="btns-bar-div-pic">
          <div class="signup-form-submit-btn">
            <%= f.button :submit, "done!"  , class:'next-btn' %>
          </div>
          <div class="progress-bar">
            <div class="progress-bar-full-67"></div>
            <p class="p-14">3/3</p>
          </div>
        </div>
      <% end %>
      </div>
    </div>

    <%# <input type="file"
    onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])"> %>


  <div class="home-btn-2 faq-signup flex-1">
    <button class="signup" data-controller="navbar">
      <%= link_to "sign up", "/intake/user_profiles/new", class: "nav-link" %>
    </button>
    <button class="faq" data-controller="navbar">
      <%= link_to "FAQ", "/faq", class: "nav-link" %>
    </button>
  </div>
</div>


<%# <%= render "devise/shared/links" %>
