
<div class="comment-div" data-controller="delete-comment">
  <div class="username-x">
    <%# <% if user_signed_in? && post_comment.user_id == @user.id %>
      <%# <%= link_to profile_path, class:"small-p  bold" do%>
        <%# @<%= post_comment.user.username%>
      <%# <% end %>
    <%# <% else %>
      <div class="comment-prof-pic">
        <%= cl_image_tag post_comment.user.prof_pic.key, class:"comment-pic" %>
        <%= link_to user_path(post_comment.user_id), class:"small-p  bold" do %>
          <p class="small-p "><%= post_comment.user.username%></p>
        <% end %>
      </div>
    <%# <% end%>

    <% if post_comment.user_id == current_user.id %>
      <div class="content-div" >
        <%= button_to post_post_comment_path(@post, post_comment.id), method: :delete, class:"comment-delete-btn" do %>
          <i class="fa-solid fa-xmark" data-action="click->delete-comment#delete"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="content-div">
    <p class="m-5"><%= post_comment.content %></p>
  </div>
  <p class="small-p grey-text"><%= @post_comment_time[index] %></p>
</div>
