<div class="profile-info">
  <% if @user.prof_pic.present? %>
    <%= image_tag(@user.prof_pic, class: "prof-pic edit-pic") %>
    <% else %>
    <%= image_tag('avatar.png', class:'prof-pic edit-pic') %>
  <% end %>
  <div class="profile-text">
    <% if @posts.count == 1 %>
    <h3 class="welcome-profile"><%= @user.first_name %> has made 1 post</h3>
    <% else %>
    <h3 class="welcome-profile"><%= @user.first_name %> has made <%= @posts.count%> posts</h3>
    <% end %>
    <p class="text-right">Snacky contributer since <%=@user.created_at.strftime("%B %d, %Y") %></p>
  </div>
</div>
<div class="map-container">
  <h1 class="your-snack-map"><%= @user.first_name %>'s snack map</h1>
  <div class="" style="width: 100%; height: 300px; border-radius: 20px;"
    data-controller="map"
    data-map-page-value="profile"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div class="all-posts">
  <% @posts.each do |post|%>
    <div class="post-container-show">
      <div class="image">
        <%= cl_image_tag(post.image.key, crop: :pad, class: "post-image") %>
      </div>
      <div class="post-text">
        <%= link_to post_path(post.id) do %>
        <h3 class="post-title"><%= post.title %></h3>
        <% end %>
        <div class="stars">
          <% case post.rating %>
            <% when 1 %>
              <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
            <% when 2%>
              <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
            <% when 3%>
              <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
            <% when 4%>
              <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i>
            <% when 5%>
              <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i>
            <% end %>
        </div>
        <div class="review-text">
          <p><strong>review: </strong><%= post.review %></p>
          <p><strong>brand: </strong><%= post.brand %></p>
          <p><strong>country: </strong><%= post.country_name %></p>
        </div>
        <p class="small-p mt-10 mb-10">posted <%= post.created_at.strftime("%B %d, %Y") %></p>
        <div class="likes-div">
          <p>likes <%= post.post_likes.count %></p>
          <p>comments <%= post.post_comments.count %></p>
          <div class="tags-container">
            <% post.post_tags.each do |tag| %>
            <p class="tag small-p"><%= tag.tag %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
</div>
