<div class="navbar">
    <% if user_signed_in? %>
      <button class="nav-btn "
              id="home-nav"
              data-controller="navbar-active"
              data-action="click->navbar-active#activate">
        <%= link_to "home", "/posts", class: "nav-link" %>
      </button>

      <button class="nav-btn " id="post-nav" data-controller="navbar-active">
        <%= link_to "post", "/posts/new", class: "nav-link" %>
      </button>

      <button class="nav-btn " id="search-nav" data-controller="navbar-active">
        <%= link_to "search", "/search", class: "nav-link" %>
      </button>

      <button class="nav-btn " id="profile-nav" data-controller="navbar-active">
        <%= link_to profile_path do %>
        <% if current_user.prof_pic.present? %>
          <%= image_tag(current_user.prof_pic, class: "avatar")  %>
        <% else %>
          <%= image_tag('avatar.png', class:'avatar') %>
        <% end %>
        profile
        <% end %>

      </button>

    <% else %>
      <button class="nav-btn active" id="home-nav">
        <%= link_to "home", "/posts", class: "nav-link" %>
      </button>
      <button class="nav-btn active" id="search-nav">
        <%= link_to "search", "/search", class: "nav-link" %>
      </button>
      <button class="nav-btn active" id="login-nav">
        <%= link_to "login", new_user_session_path, class: "nav-link" %>
      </button>
    <% end %>
</div>
