<% if user_signed_in? %>
<div class="navbar-logged-in">
  <div class="mobile-div-hide">
    <div class="home-post-mobile">
      <button class="nav-btn"
              id="home-nav"
              data-controller="navbar"
              data-action="click->navbar#activate">
        <%= link_to "home", "/posts", class: "" %>
      </button>

      <button class="nav-btn " id="post-nav" data-controller="navbar" >
        <%= link_to "post", "/posts/new", class: "" %>
      </button>
    </div>
  </div>
  <div class="mobile-div-show-2">
    <div class="search-profile-mobile">
      <button class="nav-btn " id="search-nav" data-controller="navbar">
        <%= link_to "search", "/search", class: "" %>
      </button>
      <button class="nav-btn " id="profile-nav" data-controller="navbar">
      <div class="avatar-nav">
        <%= link_to profile_path, class:"" do%>
        <% if current_user.prof_pic.present? %>
          <%# <img src="<%=current_user.pic_url%>
          <%# " class="avatar"> %>
          <%= cl_image_tag(current_user.prof_pic.key, crop: :fill, class: "avatar") %>
          <%# <%= image_tag(current_user.prof_pic, class: "avatar")  %>
        <% else %>
        <img src="https://res.cloudinary.com/le-wagon-785-vchang/image/upload/v1663937183/production/snacky-assets/haribo-prof_ug0clq.jpg", class="avatar">
        <%# <img src="https://snacky-assets.s3.eu-west-2.amazonaws.com/haribo-prof.jpeg", class="avatar"> %>
        <% end %>
        <% end %>
        <%= link_to profile_path, class:"" do%>
        profile
        <% end %>
      </div>
      </button>
    </div>
  </div>
    <div class="mobile-div-show">
      <div class="home-post-mobile">
          <button class="nav-btn"
                  id="home-nav"
                  data-controller="navbar"
                  data-action="click->navbar#activate">
            <%= link_to "home", "/posts", class: "" %>
          </button>
          <button class="nav-btn " id="post-nav" data-controller="navbar" >
            <%= link_to "post", "/posts/new", class: "" %>
          </button>
      </div>
    </div>
</div>


<% else %>
<div class="navbar-logged-out">
  <button class="nav-btn" id="home-nav-2"
          data-controller="navbar"
          data-action="click->navbar#activate">
    <%= link_to "home", "/posts", class: "nav-link-2" %>
  </button>
  <button class="nav-btn" id="search-nav-2" data-controller="navbar">
    <%= link_to "search", "/search", class: "nav-link-2" %>
  </button>
  <button class="nav-btn" id="login-nav" data-controller="navbar">
    <%= link_to "log in", new_user_session_path, class: "nav-link-2" %>
  </button>
<% end %>
</div>
