<div class="home-container">
  <div class="home-btn-1  flex-1">
    <button class="login"
            data-controller="navbar"
            data-action="click->navbar#activate">
     <%= link_to "log in", "/users/sign_in", class: "nav-link" %>
    </button>
    <button class="welcome-btn" data-controller="navbar">
     <%= link_to "welcome!", "/", class: "nav-link " %>
    </button>
  </div>

  <div class="flex-13 welcome-container">
    <div>
      <h1 class="welcome">Welcome to</h1>
      <h1 class="snacky">Snacky</h1>
    </div>
    <p class="about">Snacky is your new favorite platform for sharing your favorite snacks with your best friends, your mom or with the whole world!</p>
    <div class="bear-button-div">
      <%= image_tag('haribo-bear.png', class:'haribo-bear') %>
      <div class="button-div">
        <button class="get-started-btn"><%= link_to "let's go!", "/posts" %></button>
      </div>
    </div>
  </div>

  <div class="home-btn-2 faq-signup flex-1">
    <button class="signup" data-controller="navbar">
      <%= link_to "sign up", "/users/sign_up", class: "nav-link" %>
    </button>
    <button class="faq" data-controller="navbar">
      <%= link_to "FAQ", "/faq", class: "nav-link" %>
    </button>
  </div>
</div>
