<%= render 'shared/navbar' %>
<div class="profile-border">
  <div class="profile-info">
    <div class="edit-pic">
    <p class="small-p edit-text">edit</p>
      <%= link_to '/edit_prof_pic' do%>
        <% if current_user.prof_pic.present? %>
          <%# <img src="<%=@user.prof_pic.key%>
          <%# " class="prof-pic edit-pic"> %>
          <%= cl_image_tag current_user.prof_pic.key, class:"prof-pic edit-pic" %>
          <%# <%= image_tag(@user.prof_pic, class: "prof-pic edit-pic") %>
          <% else %>
          <img src="https://res.cloudinary.com/le-wagon-785-vchang/image/upload/v1663937183/production/snacky-assets/haribo-prof_ug0clq.jpg", class="prof-pic edit-pic">
          <%# <img src="https://snacky-assets.s3.eu-west-2.amazonaws.com/haribo-prof.jpeg", class="prof-pic edit-pic"> %>
        <% end %>
      <% end %>
    </div>
    <div class="profile-text">
    <% if @posts.count == 0 %>
      <h3 class="welcome-profile text-center">Hi <%= @user.first_name %>, we're excited for your first post 👀</h3>
    <% elsif @posts.count == 1 %>
      <h3 class="welcome-profile text-center">Hi <%= @user.first_name %>, you've made 1 post</h3>
    <% else %>
      <h3 class="welcome-profile text-center">Hi <%= @user.first_name %>, you've made <%= @total%> posts</h3>
    <% end %>
    <% if @post_likes_given == 1 %>
      <p class="likes-text ">you've given <%= @post_likes_given%> like ❤️</p>
    <% else %>
      <p class="likes-text ">you've given <%= @post_likes_given%> likes ❤️</p>
    <% end %>
    <% if @post_likes_received == 1 %>
      <p class="likes-text ">and received <%= @post_likes_received%> like ✨</p>
    <% else %>
      <p class="likes-text ">and received <%= @post_likes_received%> likes ✨</p>
    <% end %>
      <p class="text-date">Snacky contributer since <%=@user.created_at.strftime("%B %d, %Y") %></p>
    </div>
    <div class="dropdown">
      <button class="dropdown-btn"><i class="fa-solid fa-gear black"></i></button>
      <div class="dropdown-content ">
      <%= link_to "edit profile", 'users/edit', class:'dropdown-edit'%>
      <%= link_to "logout", '/log_out', class:'dropdown-edit'%>
      </div>
    </div>
  </div>
  <% if @markers.count == 0 %>
  <div class="first-post">
    <%= link_to "make my first post! 🤩", 'posts/new', class:"first-btn"%>
  </div>
  <% else %>
  <div class="map-container">
    <h1 class="your-snack-map text-center size-30">your snack map</h1>
    <div class="" style="width: 100%; height: 300px;  border: 0.5px solid black; z-index:0"
      data-controller="map"
      data-map-page-value="profile"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <% end %>

  <div class="all-posts">
    <% @posts.each do |post|%>
      <div class="post-container-show">

      <div class="image-div" data-controller="gallery3">
        <% if post.images.count > 1 %>
        <button type="button"
                  data-action="click->gallery3#prev"
                  class="photo-btn">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <% end %>

        <div class="image">
          <div class="slideshow-div-profile">
          <% post.images.each do |image|%>
            <img src="<%=image.url%>" class="post-image" data-gallery3-target="image" >
          <% end %>
          </div>
        </div>

        <% if post.images.count > 1 %>
        <button type="button"
                data-action="click->gallery3#next"
                class="photo-btn">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
        <% end %>
      </div>

        <div class="post-text">
          <%= link_to post_path(post.id) do %>
          <h3 class="post-title text-center mt-0"><%= post.title %></h3>
          <% end %>
          <div class="stars">
            <% case post.rating %>
              <% when 1 %>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 2%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 3%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 4%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 5%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 6%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 7%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 8%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 9%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 10%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i>
              <% end %>
          </div>
          <div class="review-text">
            <p><strong>review: </strong><%= post.review %></p>
            <p><strong>brand: </strong><%= post.brand %></p>
            <p><strong>country: </strong><%= post.country_name %></p>
          </div>
          <p class="small-p mt-10 mb-10">posted <%= post.created_at.strftime("%B %d, %Y") %></p>
          <div class="likes-div">
            <div class="likes-n-comments">
              <p><i class="fa-solid fa-heart red"></i> <%= post.post_likes.count %></p>
              <p><i class="fa-solid fa-comment-dots comment"></i> <%= post.post_comments.count %></p>
            </div>
            <div class="tags-container">
              <% post.post_tags.each do |tag| %>
              <p class="tag small-p"><%= tag.tag %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <%# <% end %>
  </div>
</div>
