<div class="profile-info">
  <%= link_to '/edit_prof_pic' do%>
    <% if current_user.prof_pic.present? %>
      <%= image_tag(@user.prof_pic, class: "prof-pic") %>
      <% else %>
      <%= image_tag('avatar.png', class:'prof-pic') %>
    <% end %>
  <% end %>
  <div class="profile-text">
    <% if @posts.count == 1 %>
    <h3 class="welcome-profile">Hi <%= @user.first_name %>, you've made 1 post</h3>
    <% else %>
    <h3 class="welcome-profile">Hi <%= @user.first_name %>, you've made <%= @total%> posts</h3>
    <% end %>
    <p class="text-right">Snacky contributer since <%=@user.created_at.strftime("%B %d, %Y") %></p>
  </div>
  <div class="dropdown">
    <button class="dropdown-btn">settings</button>
    <div class="dropdown-content ">
    <%= link_to "edit profile", 'users/edit', class:'dropdown-edit'%>
    <%= link_to "logout", '/log_out', class:'dropdown-logout'%>
    </div>
  </div>
</div>

<div class="all-posts">
  <% @posts.each do |post|%>
    <div class="post-container-show">
      <div class="image">
        <%= cl_image_tag(post.image.key, crop: :pad, class: "post-image") %>
      </div>
      <div class="post-text">
        <%= link_to post_path(post.id) do %>
        <h3 class="post-title"><%= post.title %></h3>
        <% end %>
        <div class="stars">
          <% case post.rating %>
            <% when 1 %>
              <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
            <% when 2%>
              <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
            <% when 3%>
              <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
            <% when 4%>
              <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i>
            <% when 5%>
              <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i>
            <% end %>
        </div>
        <div class="review-text">
          <p><strong>review: </strong><%= post.review %></p>
          <p><strong>brand: </strong><%= post.brand %></p>
          <p><strong>country: </strong><%= post.country_name %></p>
        </div>
        <p class="small-p mt-10 mb-10">posted <%= post.created_at.strftime("%B %d, %Y") %></p>
        <div class="likes-div">
          <p>likes <%= post.post_likes.count %></p>
          <p>comments <%= post.post_comments.count %></p>
          <div class="tags-container">
            <% post.post_tags.each do |tag| %>
            <p class="tag small-p"><%= tag.tag %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
</div>
