<%= render 'shared/navbar' %>
<div class="border">
  <div class="search-container">
    <%= form_tag search_path, method: :get, class: "search-form" do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "search by name or brand",
          style:"font-family: 'inconsolata', monospace; font-weight: 300; font-size:18px; color: black; background-color: #ffcaed; border: black solid 0.5px; border-radius: 0px; margin-right:10px;"
      %>
      <%= submit_tag "go!", class: "go-btn" %>
    <% end %>
    <div class="search-results">
      <% if params[:query] && @posts.length == 0 %>
        <h3 class="no-underline">no results for <%= params[:query] %> 😔</h3>
      <% elsif !params[:query] %>
        <p></p>
      <% else %>
      <% if @posts.length == 1 %>
      <p class="mt-20">1 search result for:</p>
      <% else %>
      <p class="mt-20"><%= @posts.length %> search results for: </p>
      <% end %>
      <h3 class="search-param"> <%= params[:query] %> </h3>
        <% @posts.each do |post| %>
          <div class="search-result">
            <div class="image">
              <img src="<%=post.image_url%>" class="search-image">
              <%# <%= cl_image_tag(post.image.key, crop: :fill, class: "search-image") %>
            </div>
            <div class="search-content">
              <%= link_to post_path(post.id) do %>
                <h3 class="post-title"><%= post.title %></h3>
              <% end %>
              <div class="stars">
                <% case post.rating %>
                <% when 1 %>
                  <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
                <% when 2%>
                  <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
                <% when 3%>
                  <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
                <% when 4%>
                  <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
                <% when 5%>
                  <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
                <% when 6%>
                  <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
                <% when 7%>
                  <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
                <% when 8%>
                  <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
                <% when 9%>
                  <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i>
                <% when 10%>
                  <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i>
                <% end %>
              </div>
              <p> <%= truncate(post.review, :length => 80) %> </p>
              <p class="small-p mt-10">posted <%= post.created_at.strftime("%B %d, %Y") %></p>
              <p class="small-p mb-20">by
              <% if user_signed_in? && post.user_id == @user.id %>
                <%= link_to profile_path, class:"small-p  bold" do %>
                  @<%= post.user.username%></p>
                <% end %>
              <% else %>
                <%= link_to user_path(post.user_id), class:"small-p  bold" do %>
                      @<%= post.user.username%></p>
                    <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
