
<div class="home-container">
  <div class="home-btn-1  flex-1">
    <button class="login"
    data-controller="navbar"
    data-action="click->navbar#activate">
     <%= link_to "log in", "/users/sign_in", class: "nav-link " %>
    </button>
    <button class="welcome-btn" data-controller="navbar">
     <%= link_to "welcome!", "/", class: "nav-link " %>
    </button>
  </div>

  <div class="flex-13 log-in-container">
    <div class="snacky-title">
      <h1 class="snacky">Snacky</h1>
      <h3 class="sign-in-text" >log in</h3>
    </div>
    <div class="sign-in-form">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
        <div class="sign-in-form">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      placeholder: 'snacky@email.com', class: 'label-text',
                      label: "email",
                      input_html: { autocomplete: "email" },
                      label_html: { class: 'label-text ml-neg-20' },
                      input_html: { class: 'login-input width-100 mb-25' } %>
          <%= f.input :password,
                      required: false,
                      placeholder: '••••••', class: 'label-text',
                      label: "password",
                      input_html: { autocomplete: "current-password" },
                      label_html: { class: 'label-text ml-neg-20' },
                      input_html: { class: 'login-input width-100' } %>

          <%# IDK how to style this %>
          <%# <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="form-submit-btn ">
          <%= f.button :submit, "log in", class:'post-btn' %>
        </div>
      <% end %>
    <%= render "devise/shared/links" %>
    </div>
  </div>

  <div class="home-btn-2 faq-signup flex-1">
    <button class="signup" data-controller="navbar">
      <%= link_to "sign up", "/intake/user_profiles/new", class: "nav-link "  %>
    </button>
    <button class="faq" data-controller="navbar">
      <%= link_to "FAQ", "/faq", class: "nav-link " %>
    </button>
  </div>
</div>
