<div class="form-container">
  <%= simple_form_for @post, data: { turbo: false } do |f| %>
      <%= f.input :title, required: true, label: "snack name", label_html: { class: 'form-text' }, input_html: { class: 'title-input title' } %>
      <%= f.input :rating, collection: (1..10).to_a,
      label: "stars ðŸ¤©", required:true,
      wrapper_html: {data: {controller: "star-rating"}},
      label_html: { class: 'form-text' },
      input_html: { class: 'title-input stars' } %>
      <%= f.input :review, required: true, label: "your honest review ðŸ‘€", label_html: { class: 'form-text' }, input_html: { class: 'title-input review mb-0' }, hint: "think flavor, appearance, packaging, texture, smell, overall experience, etc.", hint_html: {class:"hint"} %>
      <div class="flex">
        <%= f.input :brand, required: true, label: "brand", label_html: { class: 'form-text ' }, input_html: { class: 'title-input brand' } %>
        <%= f.input :country, required: true, label: "country of origin ðŸŒŽ", label_html: { class: 'form-text' }, input_html: { class: 'title-input country' } %>
      </div>
      <div class="flex">
        <%= f.input :image, as: :file, required: true, label: "upload a pic", label_html: { class: 'form-text upload-text' }, input_html: { class: 'title-input upload' }, id: "file-upload-button" %>
        <%= f.input :address,
            label: "where did you find it? ðŸ”", label_html: { class: 'form-text' },
            input_html: {data: {address_autocomplete_target: "address"}, class:"display-none address-wrapper"},
            wrapper_html: {data: {controller: "address-autocomplete",
            address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}},
            required: true, class:"address-wrapper" %>
      </div>
      <div class="post-div">
        <%= f.submit "post!", class:'post-btn'%>
      </div>
  <% end %>
</div>
