<%= render 'shared/navbar' %>
<div class="border">
  <div class="form-container-edit">
    <h2 class="welcome-profile center make-post">edit your review</h2>
    <div class="form-container">
      <%= simple_form_for @post, data: { turbo: false } do |f| %>
        <%= f.input :title, required: true, label: "snack name", label_html: { class: 'form-text' }, input_html: { class: 'title-input title' } %>
        <%= f.input :rating, collection: (1..10).to_a,
        label: "stars ðŸ¤©", required:true,
        wrapper_html: {data: {controller: "star-rating"}},
        label_html: { class: 'form-text' },
        input_html: { class: 'title-input stars' } %>
        <%= f.input :review, required: true, label: "your honest review ðŸ‘€", label_html: { class: 'form-text' }, input_html: { class: 'title-input review mb-0 ' }, hint: "think flavor, appearance, packaging, texture, smell, overall experience, etc.", hint_html: {class:"hint"} %>
        <div class="flex">
          <%= f.input :brand, required: true, label: "brand", label_html: { class: 'form-text ' }, input_html: { class: 'title-input brand ' } %>
          <%= f.input :country, required: true, label: "country of origin ðŸŒŽ", label_html: { class: 'form-text' }, input_html: { class: 'title-input country-input country' } %>
        </div>
        <div class="flex">
          <%= f.input :address,
              label: "where did you find it? ðŸ”", label_html: { class: 'form-text' },
              input_html: {data: {address_autocomplete_target: "address"}, class:"display-none address-wrapper"},
              wrapper_html: {data: {controller: "address-autocomplete",
              address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}},
              required: true, class:"address-wrapper" %>
        </div>
        <div class="post-div">
          <%= f.submit "done!", class:'post-btn'%>
        </div>
      <% end %>
    </div>

    <%= form_with model: @post do |form| %>
        <%= form.label :images, "add more pics", class: "form-text" %>

      <div class="flex-start">
        <%= form.file_field :images, multiple: true, input_html: { class: 'title-input upload', multiple: true }, id: "file-upload-button" %>

        <%= form.submit 'add', class: "like-btn" %>
      </div>
    <% end %>
    <div class="edit-img-all">
      <% @post.images.each_with_index do |image, index| %>
        <div class="edit-img-container">
          <img src="<%=image.url%>" class="edit-image">
          <%= form_with url: remove_image_path, method: :post do |form| %>
            <%= form.hidden_field :image_index, value: index %>
            <%= form.hidden_field :post_id, value: @post.id %>
            <%= button_tag type: 'submit', class: "like-btn pos-abs" do %>
              <i class="fa-solid fa-xmark"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= link_to :back, class:"back-btn" do %>
      <i class="fa-solid fa-hand-point-left back-hand"></i>
    <% end %>
  </div>
</div>
