<%= render 'shared/navbar' %>
<div class="border">
  <div class="all-posts">
    <div class="map-filter-container">
    <% if @posts.length == 0 %>
    <% else %>
      <div class="map-container pt-20">
        <h1 class="snack-map">snack map</h1>
        <div class="" style="width: 100%; height: 300px;border: 0.5px solid black; z-index:0"
          data-controller="map"
          data-map-page-value="index"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    <% end %>
      <div class="filter-options">
        <div class="sort-menu" >
          <form action="/posts" id="post-form">
          </form>

          <label for="order" style="font-family: 'Inconsolata', monospace;">sort by &nbsp;</label>
          <select class="sort" name="order" id="order" onchange="this.form.submit()" form="post-form">
            <% if @selected == "newest" || !@selected %>
              <option value="newest" selected>newest first</option>
            <% else %>
              <option value="newest" >newest first</option>
            <% end %>
            <% if @selected == "oldest"%>
              <option value="oldest" selected>oldest first</option>
            <% else %>
              <option value="oldest">oldest first</option>
            <% end %>
            <% if @selected == "highest"%>
              <option value="highest" selected>highest rated</option>
            <% else %>
              <option value="highest">highest rated</option>
            <% end %>
            <% if @selected == "lowest"%>
              <option value="lowest" selected>lowest rated</option>
            <% else %>
              <option value="lowest">lowest rated</option>
            <% end %>
            <% if @selected == "popular"%>
              <option value="popular" selected>most popular</option>
            <% else %>
              <option value="popular">most popular</option>
            <% end %>
          </select>
        </div>

        <div class="sort-menu" >
          <form action="/posts" id="post-form">
          </form>

          <label for="tag-filter" style="font-family: 'Inconsolata', monospace;">filter by tag&nbsp;</label>
          <select class="sort" name="filter" id="filter" onchange="this.form.submit()" form="post-form">
            <option <%= @selection_arr[0] %> value="all">all</option>
            <option <%= @selection_arr[1] %> value="alcohol" >alcohol</option>
            <option <%= @selection_arr[2] %> value="beverage" >beverage</option>
            <option <%= @selection_arr[3] %> value="bread">bread</option>
            <option <%= @selection_arr[4] %> value="candy">candy</option>
            <option <%= @selection_arr[5] %> value="cereal">cereal</option>
            <option <%= @selection_arr[6] %> value="chips">chips</option>
            <option <%= @selection_arr[7] %> value="chocolate">chocolate</option>
            <option <%= @selection_arr[8] %> value="cookies">cookies</option>
            <option <%= @selection_arr[9] %> value="crackers">crackers</option>
            <option <%= @selection_arr[10] %> value="dip">dip</option>
            <option <%= @selection_arr[11] %> value="frozen">frozen</option>
            <option <%= @selection_arr[12] %> value="fruit">fruit</option>
            <option <%= @selection_arr[13] %> value="gummies">gummies</option>
            <option <%= @selection_arr[14] %> value="icecream">ice cream</option>
            <option <%= @selection_arr[15] %> value="nuts">nuts</option>
            <option <%= @selection_arr[16] %> value="pastry">pastry</option>
            <option <%= @selection_arr[17] %> value="spread">spread</option>

          </select>
        </div>
      </div>
    </div>
    <% if @posts.length == 0 %>
      <div class="no-posts">
        <h3 class="no-underline">no posts found for <%= params[:filter]%> tag 😔</h3>
      </div>
    <% else %>

    <% @posts.each do |post|%>
    <div class="post-container-show">

      <div class="image-div" data-controller="gallery2">
      <% if post.images.count > 1 %>
       <button type="button"
                data-action="click->gallery2#prev"
                class="photo-btn">
         <i class="fa-solid fa-chevron-left"></i>
        </button>
      <% end %>

      <div class="image">
        <div class="slideshow-div">
        <% post.images.each do |image|%>
            <img src="<%=image.url%>" class="post-image" data-gallery2-target="image" >
            <%# <%= image_tag(image.url) => %>
        <% end %>
        </div>
      </div>

      <% if post.images.count > 1 %>
        <button type="button"
                data-action="click->gallery2#next"
                class="photo-btn">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      <% end %>
      </div>

          <div class="post-text">
          <% if user_signed_in? %>
            <%= link_to post_path(post.id) do %>
              <h3 class="post-title text-center mt-0"><%= post.title %></h3>
            <% end %>
            <% else %>
              <h3 class="post-title-out text-center mt-0"><%= post.title %></h3>
            <% end %>
            <div class="stars">
              <% case post.rating %>
              <% when 1 %>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 2%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 3%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 4%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 5%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 6%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 7%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 8%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 9%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 10%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i>
              <% end %>
            </div>
            <div class="review-text">
              <p><strong>review: </strong><%= truncate(post.review, :length => 250) %></p>
              <p><strong>brand: </strong><%= post.brand %></p>
              <p><strong>country: </strong><%= post.country_name %></p>
            </div>
            <p class="small-p mt-10">posted <%= post.created_at.strftime("%B %d, %Y") %></p>
            <p class="small-p mb-10">by
            <% if user_signed_in? && post.user_id == @user.id %>
              <%= link_to profile_path, class:"small-p  bold"  do %>
                @<%= post.user.username%></p>
              <% end %>
            <% else %>
              <%= link_to user_path(post.user_id), class:"small-p  bold" do %>
                @<%= post.user.username%></p>
              <% end %>
            <% end %>
            <div class="likes-div">
              <div class="likes-n-comments">

                <% if user_signed_in? %>
                  <%= button_to post_post_likes_path(post), method: :post, class: "heart-btn" do %>
                    <p><i class="fa-solid fa-heart red"></i><%= post.post_likes.count %></p>
                  <% end %>
                <% else%>
                  <p><i class="fa-solid fa-heart red"></i> <%= post.post_likes.count %></p>
                <% end %>

                <p><i class="fa-solid fa-comment-dots comment"></i> <%= post.post_comments.count %></p>
              </div>
              <div class="tags-container">
                <% post.post_tags.each do |tag| %>
                <p class="tag small-p"><%= tag.tag %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <%end%>
    <div class="paginate-div">
      <%= paginate @posts, window: 2, class:"paginate-controls" %>
    </div>
  </div>
</div>
