<%= render 'shared/navbar' %>
<div class="border">
  <div class="all-posts">
    <div class="map-filter-container">
    <% if @posts.length == 0 %>
    <% else %>
      <div class="map-container pt-20">
        <h1 class="snack-map">snack map</h1>
        <div class="" style="width: 100%; height: 300px;border: 0.5px solid black;border-radius: 10px;"
          data-controller="map"
          data-map-page-value="index"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    <% end %>
      <div class="filter-options">
        <div class="sort-menu" >
          <form action="/posts" id="post-form">
          </form>

          <label for="order" style="font-family: 'Inconsolata', monospace;">sort by &nbsp;</label>
          <select class="sort" name="order" id="order" onchange="this.form.submit()" form="post-form">
            <% if @selected == "newest" || !@selected %>
              <option value="newest" selected>newest first</option>
            <% else %>
              <option value="newest" >newest first</option>
            <% end %>
            <% if @selected == "oldest"%>
              <option value="oldest" selected>oldest first</option>
            <% else %>
              <option value="oldest">oldest first</option>
            <% end %>
            <% if @selected == "highest"%>
              <option value="highest" selected>highest rated</option>
            <% else %>
              <option value="highest">highest rated</option>
            <% end %>
            <% if @selected == "lowest"%>
              <option value="lowest" selected>lowest rated</option>
            <% else %>
              <option value="lowest">lowest rated</option>
            <% end %>
            <% if @selected == "popular"%>
              <option value="popular" selected>most popular</option>
            <% else %>
              <option value="popular">most popular</option>
            <% end %>
          </select>
        </div>

        <div class="sort-menu" >
          <form action="/posts" id="post-form">
          </form>

          <label for="tag-filter" style="font-family: 'Inconsolata', monospace;">filter by tag&nbsp;</label>
          <select class="sort" name="filter" id="filter" onchange="this.form.submit()" form="post-form">
            <option <%= @selection_arr[0] %> value="all">all</option>
            <option <%= @selection_arr[1] %> value="chips" >chips</option>
            <option <%= @selection_arr[2] %> value="chocolate" >chocolate</option>
            <option <%= @selection_arr[3] %> value="alcohol">alcohol</option>
            <option <%= @selection_arr[4] %> value="gummies">gummies</option>
            <option <%= @selection_arr[5] %> value="candy">candy</option>
            <option <%= @selection_arr[6] %> value="pastry">pastry</option>
          </select>
        </div>
      </div>
    </div>
    <% if @posts.length == 0 %>
      <div class="no-posts">
        <h3 class="no-underline">no posts found for <%= params[:filter]%> tag 😔</h3>
      </div>
    <% else %>
      <% @posts.each do |post|%>
        <div class="post-container-show">
          <div class="image">
            <img src="<%=post.image_url%>" class="post-image">
            <%# <%= cl_image_tag(post.image.key, crop: :fill, class: "post-image") %>
          </div>
          <div class="post-text">
            <%= link_to post_path(post.id) do %>
            <h3 class="post-title text-left mt-0"><%= post.title %></h3>
            <% end %>
            <div class="stars">
              <% case post.rating %>
              <% when 1 %>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 2%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 3%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 4%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 5%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 6%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 7%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 8%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 9%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i>
              <% when 10%>
                <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i>
              <% end %>
            </div>
            <div class="review-text">
              <p><strong>review: </strong><%= post.review %></p>
              <p><strong>brand: </strong><%= post.brand %></p>
              <p><strong>country: </strong><%= post.country_name %></p>
            </div>
            <p class="small-p mt-10">posted <%= post.created_at.strftime("%B %d, %Y") %></p>
            <p class="small-p mb-10">by
            <% if user_signed_in? && post.user_id == @user.id %>
              <%= link_to profile_path, class:"small-p  bold"  do %>
                @<%= post.user.username%></p>
              <% end %>
            <% else %>
              <%= link_to user_path(post.user_id), class:"small-p  bold" do %>
                @<%= post.user.username%></p>
              <% end %>
            <% end %>
            <div class="likes-div">
              <div class="likes-n-comments">
                <p><i class="fa-solid fa-heart red"></i> <%= post.post_likes.count %></p>
                <p><i class="fa-solid fa-comment-dots comment"></i> <%= post.post_comments.count %></p>
              </div>
              <div class="tags-container">
                <% post.post_tags.each do |tag| %>
                <p class="tag small-p"><%= tag.tag %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <%end%>
    <div class="paginate-div">
      <%= paginate @posts, window: 2, class:"paginate-controls" %>
    </div>
  </div>
</div>
