<div class="post-container">
  <div class="image-text-container">
    <div class="image">
      <%= cl_image_tag(@post.image.key, crop: :pad, class: "post-image") %>
    </div>
    <div class="post-text">
      <h3><%= @post.title %></h3>
      <div class="stars">
        <% case @post.rating %>
          <% when 1 %>
            <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
          <% when 2%>
            <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
          <% when 3%>
            <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
          <% when 4%>
            <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i>
          <% when 5%>
            <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i>
          <% end %>
      </div>
      <div class="review-text">
        <p><strong>review: </strong><%= @post.review %></p>
        <p><strong>brand: </strong><%= @post.brand %></p>
        <p><strong>country: </strong><%= @post.country_name %></p>
      </div>
      <p class="small-p mt-10">posted <%= @post.created_at.strftime("%B %d, %Y") %></p>
      <p class="small-p mb-20">by @<%= @post.user.username%></p>
      </div>
    </div>
  <div class="likes-comments-container">
    <div class="likes-container">
      <% if user_signed_in? %>
        <% if @liked_post %>
          <%= button_to "unlike", post_post_likes_path(@post), method: :post, class: "show-btn" %>
        <% else %>
          <%= button_to "like", post_post_likes_path(@post), method: :post, class: "show-btn" %>
        <% end %>

        <%# <%= button_to "like", post_post_likes_path(@post), method: :post, class: "show-btn" %>
        <p>likes <%= @post.post_likes.count %></p>
    </div>
    <div class ="comments-container">
      <% if @post.post_comments.any? %>
        <% @post.post_comments.each do |comment| %>
          <div class="comment-div">
            <p class="small-p">@<%= comment.user.username %> said:</p>
            <em><p><%= comment.content %></p></em>
            <p class="small-p">on <%= comment.created_at.strftime("%B %d, %Y") %></p>
            <% if comment.persisted? %>
              <%= button_to post_post_comment_path(@post, comment.id), method: :delete, class:"comment-delete-btn" do %>
                <p class="small-p ">delete</p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <div class='comment-box'>
        <%= simple_form_for([ @post, PostComment.new ]) do |f| %>
          <%= f.input :content, placeholder:'have something nice to say?', label: false, as: :text, class: 'comment-box' %>
            <%= f.submit 'reply', class:'comment-button'%>
        <% end %>
      </div>
      <div class="tags-form">
      <% if @post.user_id == current_user.id %>
      <%= simple_form_for([ @post, PostTag.new]) do |f| %>
          <%= f.select :tag,
                        options_for_select(['chips','chocolate','candy','alcohol','gummies','pastry']),
                        { include_blank: 'select a tag' },
                        class: 'tag-selection' %>
          <%= f.submit 'add', class:''%>
        <% end %>
      <% end %>
      </div>
      <% end %>
      <% if @post.post_tags.any? %>
        <div class="tags-container">
        <% @post.post_tags.each do |tag| %>
          <div class="tag mt-10 mb-10">
            <p class="small-p mr-5"><%= tag.tag %></p>
            <% if @post.user_id == current_user.id %>
              <%= button_to post_post_tag_path(@post, tag.id), method: :delete, class:"tag-delete-btn" do %>
                <i class="fa-regular fa-circle-xmark"></i>
              <% end %>
            <% end %>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="map-container" style=" margin-left: 20px;
    width: 500px;
    height: 300px;
    position: sticky;
    top: 8vh;
    border-radius: 30px;"
    data-controller="map"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
<div class="delete-back">
  <%= link_to "back", :back, class:"show-btn" %>
  <% if @post.user_id == current_user.id %>
    <%= link_to 'edit', edit_post_path(@post), method: :patch, class:"show-btn" %>
    <%= button_to 'delete', post_path(@post), method: :delete, data: { confirm: 'you sure 😢?' }, class:"show-btn delete" %>
  <% end %>
</div>
