<%= render 'shared/navbar' %>
<div class="border-show">
  <div class="post-container pt-0">

    <div class="post-info">
    <% if @post.user.prof_pic.present? %>
        <%= cl_image_tag(@post.user.prof_pic.key, crop: :fill, class: "avatar-post") %>
      <% else %>
        <img src="https://res.cloudinary.com/le-wagon-785-vchang/image/upload/v1663937183/production/snacky-assets/haribo-prof_ug0clq.jpg", class="prof-pic edit-pic">
      <% end %>
      <div class="flex-info flex">
        <p class="small-p">reviewed by
        <% if user_signed_in? && @post.user_id == @user.id %>
          <%= link_to profile_path, class:"small-p  bold" do %>
            @<%= @post.user.username%>
          <% end %>
        <% else %>
          <%= link_to user_path(@post.user_id), class:"small-p  bold" do %>
                @<%= @post.user.username%>
              <% end %>
        <% end %>
        on <%= @post.created_at.strftime("%B %d, %Y") %> </p>
      </div>
    </div>

    <% if @post.user_id == @current_user_id  %>
    <div data-controller="settings" class="title">
      <div class="post-settings" data-action="click->settings#open">
        <i class="fa-solid fa-ellipsis ellipses"></i>
      </div>
      <div class="delete-back-modal-background">
        <div class="delete-back-modal">
          <div class="flex-end">
            <button type="button"
                    class="like-btn"
                    data-action="click->settings#close">
                    <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          <%= link_to 'edit', edit_post_path(@post), method: :patch, class:"edit-option" %>
          <%= button_to 'delete', post_path(@post), method: :delete, data: { confirm: 'you sure 😢?' }, class:"delete-option"%>
        </div>
      </div>
    </div>
    <% end %>

    <div class="image-text-container">
      <div class="image-div" data-controller="gallery">
        <% if @post.images.count > 1 %>
        <button type="button"
                  data-action="click->gallery#prev"
                  class="photo-btn">
          <i class="fa-solid fa-caret-left"></i>
          </button>
        <% end %>
        <div class="image">
          <% @post.images.each do |image|%>
            <img src="<%=image.url%>" class="post-image" data-gallery-target="image">
          <% end %>
          <% if @post.images.count > 1 %>
            <div class="image-dots">
              <% @post.images.each do |image|%>
                <span class="dot dot-active" data-gallery-target="dot"></span>
              <% end %>
            </div>
          <% end %>
        </div>
        <% if @post.images.count > 1 %>
          <button type="button"
                  data-action="click->gallery#next"
                  class="photo-btn">
            <i class="fa-solid fa-caret-right"></i>
          </button>
        <% end %>
      </div>
      <div class="post-text">
        <h3 class="post-title text-center mt-0"><%= @post.title %></h3>
        <%= render 'shared/stars', post: @post %>
        <div class="review-text">
          <p><strong>review: </strong><%= @post.review %></p>
          <p><strong>brand: </strong><%= @post.brand %></p>
          <p><strong>country: </strong><%= @post.country_name %></p>
        </div>
      </div>
    </div>

    <div class="likes-comments-container">

      <div class="likes-container">
        <% if user_signed_in? %>
          <% if @liked_post %>
            <%= button_to post_post_likes_path(@post), params:{page: "show"}, method: :post, class: "heart-btn" do %>
              <i class="fa-solid fa-heart red"></i>
            <% end %>
          <% else %>
            <%= button_to post_post_likes_path(@post), params:{page: "show"}, method: :post, class: "heart-btn" do %>
              <i class="fa-solid fa-heart empty-heart"></i>
            <% end %>
          <% end %>
        <% else %>
          <i class="fa-solid fa-heart red"></i>
        <% end %>
        <p >likes <%= @post.post_likes.count %></p>
      </div>

      <div class="tags-div" data-controller="insert-in-list-tag" data-insert-in-list-tag-position-value="afterend" >
        <div class="tags-form mt-10">
          <% if @post.user_id == @current_user_id %>
            <%= render "post_tags/form", post_tag: @post_tag, post: @post  %>
          <% end %>
        </div>
        <div class="tags-container" data-insert-in-list-tag-target="tags">
          <% @post.post_tags.each do |tag| %>
            <%= render "post_tags/post_tag", post_tag: tag %>
          <% end %>
        </div>
      </div>

    </div>

    <div class ="comments-container" data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">
      <div data-insert-in-list-target="items">
        <% @post.post_comments.each_with_index do |comment, index| %>
          <%= render "post_comments/post_comment", post_comment: comment, post: @post, user: @user, index: index  %>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div class='comment-box'>
          <%= render "post_comments/form", post_comment: @post_comment, post: @post  %>
        </div>
      <% else%>
        <p class="leave-a-comment">sign in to leave a comment! 🙊</p>
      <% end %>
    </div>
  <% if @post.address? %>
    <div class="map-container-show">
      <div class="" style="width: 100%; height: 100%; border: solid black 0.75px; z-index: 0"
        data-controller="map"
        data-map-page-value="show"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  <% end %>

    <div class="delete-back">
      <%= link_to :back, class:"back-btn" do %>
        <i class="fa-solid fa-hand-point-left back-hand"></i>
        <% end %>
    </div>
    </div>
  </div>


</div>
